{% extends 'base.html' %}

{% block title %}
自動化
{% endblock %}

{% block customcss %}
{% endblock %}

{% block content %}
<div class="container">

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <div class="alert alert-danger mt-4" role="alert">
      <li class="list-unstyled">{{ message }}</li>
    </div>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <div class="row">
    <div class="col-md6 offset-md-3">
      <main class="form-signin text-center">
        <form method="POST" class="w-50 p-3">

          <h1 class="h3 mb-3 fw-normal">出席自動化</h1>
          <p>登録している講義の出席が自動化されます。</p>
          <div class="form-floating p-3">
            <button class="btn btn-primary w-100 p-2" type="submit">自動化する</button>
          </div>
        </form>
      </main>
      <div class="w-50 p-3">
        <a class="btn btn-secondary" href="/">戻る</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}